.home{
    h1{
        font-size: 64px;
        text-align: center;
        font-family: seguibli;
    }
    .text-box{
        padding: 5% 10%;
        align-content: center;
        p{
            text-align: center;
            font-family: seguili;
            font-size: 20px;
            margin: 60px 40px;
        }
    }
}